html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1200px;
}
/* .debug .container {
  border: 1px solid black;
} */

/* .debug .container [class*="col-"] {
  border: 1px solid grey;
} */

.top-header .logo img {
  /* vertical-align: middle; */
  width: 100px;
}

.ghost-align::before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.top-header.container [class*="col-"] {
  height: 80px;

}

[class*="nav-"] {
  float: right;
}



[class*="nav-"] li {
  display: inline-block;
}

/* per non applicare il margine solo all'ultimo */
[class*="nav-"] li :not (:last-child){
  margin-right: 10px;


}

[class*="nav-"] li a {
  text-decoration: none;
  color: black;
}
