html {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

} */
.container {
  max-width: 1000px;
}
/* .debug .container {
  border: 1px solid black;
} */

/* .debug .container [class*="col-"] {
  border: 1px solid grey;
} */

.top-header .logo img {
  /* vertical-align: middle; */
  width: 80px;
}

.ghost-align::before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.top-header.container [class*="col-"] {
  height: 80px;
}

[class*="nav-"] {
  float: right;
}

[class*="nav-"] li {
  display: inline-block;
  vertical-align: middle;
}

/* per non applicare il margine solo all'ultimo */
[class*="nav-"] li:not(:last-child) {
  margin-right: 0.1rem;
}

[class*="nav-"] li a {
  text-decoration: none;
  color: black;
  font-size: 0.6rem;
}

/* applica il bordino a tutti tranne che al primo */
.nav-right li:not(:first-child) a {
  border-left: 1px solid grey;
  padding-left: 10px;
}


/* SEZIONE BOTTOM-HEADER */
.header-background {
  background-image: url(../img/header.jpg);
  /* height: 500px; */
  background-position: center;
  margin: 0;
  padding: 150px;
  box-sizing: border-box;

}

/* media query per il ridimensionamento del container */
@media screen and (max-width: 1100px) {
    .my-container {
      max-width: 80%;

    }
}

.top-header .col-xs-1 {
  position: relative;
}
.fa-bars {
  position: absolute;
  right: 0;
  top: 40px;
  transform: translate(-50%, -50%);
}

.header-background .bottom-header img {
  width: 80px;
}

.header-background .bottom-header .col-lg-12 {
  text-align: center;
  color: white;
